.root {
	height: 100%;

	display: flex;

	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-6)
	);
	box-shadow: var(--mantine-shadow-md);
	border: 1px solid
		light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
	background-image: linear-gradient(
		to right,
		var(--mantine-color-blue-filled),
		var(--mantine-color-violet-filled)
	);
}

.control {
	&::before {
		display: none;
	}
}

.label {
	text-transform: capitalize;

	&,
	&:hover {
		&[data-active] {
			color: var(--mantine-color-white);
		}
	}
}

@media (max-width: 768px) {
	.root {
		width: 100%;
		height: 100%;
		font-size: 14px;
	}
}
