.card {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-7)
	);

	min-width: 360px;
	max-width: 400px;
}

.carousel {
	@mixin hover {
		.carouselControls {
			opacity: 1;
		}
	}
}

.carouselControls {
	transition: opacity 150ms ease;
	opacity: 0;
}

.carouselIndicator {
	width: 4px;
	height: 4px;
	transition: width 250ms ease;

	&[data-active] {
		width: 16px;
	}
}

.section {
	border-bottom: 1px solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	padding-bottom: var(--mantine-spacing-md);
}

.extra {
	user-select: none;
}

.like,
.bookmark,
.share {
	width: 20px;
	height: 20px;
}

.like {
	color: var(--mantine-color-red-6);
}

.bookmark {
	color: var(--mantine-color-yellow-4);
}

.label {
	text-transform: uppercase;
	font-size: var(--mantine-font-size-xs);
	font-weight: 700;
}

.user {
	flex: 1;

	@mixin hover {
		text-decoration: underline;
	}
}

@media (max-width: $mantine-breakpoint-xs) {
	.card {
		min-width: 280px;
		max-width: 300px;
	}

	.user_name {
		font-size: 12px;
	}
}
